In [2]:
import quandl
import pandas as pd
import html5lib
from bs4 import BeautifulSoup

#api_key = open('quandl_key.txt','r').read()
#print(api_key)
#df = quandl.get('FMAC/HPI_TX',authtoken="kfLgiks7c3bVyRY8FeSQ")
#print(df.head())

fiddy_states = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')

#print(fiddy_states)

In [3]:
print(fiddy_states)

[         0             1               2               3                  4
0   Sl no.  Abbreviation      State Name         Capital     Became a State
1        1            AL         Alabama      Montgomery  December 14, 1819
2        2            AK          Alaska          Juneau    January 3, 1959
3        3            AZ         Arizona         Phoenix  February 14, 1912
4        4            AR        Arkansas     Little Rock      June 15, 1836
5        5            CA      California      Sacramento  September 9, 1850
6        6            CO        Colorado          Denver     August 1, 1876
7        7            CT     Connecticut        Hartford    January 9, 1788
8        8            DE        Delaware           Dover   December 7, 1787
9        9            FL         Florida     Tallahassee      March 3, 1845
10      10            GA         Georgia         Atlanta    January 2, 1788
11      11            HI          Hawaii        Honolulu    August 21, 1959
12      12            ID           Idaho           Boise       July 3, 1890
13      13            IL        Illinois     Springfield   December 3, 1818
14      14            IN         Indiana    Indianapolis  December 11, 1816
15      15            IA            Iowa      Des Moines  December 28, 1846
16      16            KS          Kansas          Topeka   January 29, 1861
17      17            KY        Kentucky       Frankfort       June 1, 1792
18      18            LA       Louisiana     Baton Rouge     April 30, 1812
19      19            ME           Maine         Augusta     March 15, 1820
20      20            MD        Maryland       Annapolis     April 28, 1788
21      21            MA   Massachusetts          Boston   February 6, 1788
22      22            MI        Michigan         Lansing   January 26, 1837
23      23            MN       Minnesota      Saint Paul       May 11, 1858
24      24            MS     Mississippi         Jackson  December 10, 1817
25      25            MO        Missouri  Jefferson City    August 10, 1821
26      26            MT         Montana          Helena   November 8, 1889
27      27            NE        Nebraska         Lincoln      March 1, 1867
28      28            NV          Nevada     Carson City   October 31, 1864
29      29            NH   New Hampshire         Concord      June 21, 1788
30      30            NJ      New Jersey         Trenton  December 18, 1787
31      31            NM      New Mexico        Santa Fe    January 6, 1912
32      32            NY        New York          Albany      July 26, 1788
33      33            NC  North Carolina         Raleigh  November 21, 1789
34      34            ND    North Dakota        Bismarck   November 2, 1889
35      35            OH            Ohio        Columbus      March 1, 1803
36      36            OK        Oklahoma   Oklahoma City  November 16, 1907
37      37            OR          Oregon           Salem  February 14, 1859
38      38            PA    Pennsylvania      Harrisburg  December 12, 1787
39      39            RI    Rhode Island      Providence       May 19, 1790
40      40            SC  South Carolina        Columbia       May 23, 1788
41      41            SD    South Dakota          Pierre   November 2, 1889
42      42            TN       Tennessee       Nashville       June 1, 1796
43      43            TX           Texas          Austin  December 29, 1845
44      44            UT            Utah  Salt Lake City    January 4, 1896
45      45            VT         Vermont      Montpelier      March 4, 1791
46      46            VA        Virginia        Richmond      June 25, 1788
47      47            WA      Washington         Olympia  November 11, 1889
48      48            WV   West Virginia      Charleston      June 20, 1863
49      49            WI       Wisconsin         Madison       May 29, 1848
50      50            WY         Wyoming        Cheyenne      July 10, 1890,                                              0  \
0  vtePolitical divisions of the United States
1                                       States
2                             Federal district
3                                Insular areas
4                             Outlying islands

                                                   1
0                                                NaN
1  Alabama Alaska Arizona Arkansas California Col...
2                                   Washington, D.C.
3  American Samoa Guam Northern Mariana Islands P...
4  Baker Island Howland Island Jarvis Island John...  ]